:root {
  /*fonts*/
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /*Color*/
  --main-txt-color: #434455;
  --secondary-txt-color: #2e2f42;
  --light-txt-color: #ffffff;
  --main-txt-link: #2e2f42;
  --normal-background-btn: #4d5ae5;
  --hover-background-btn: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  flex: none;
  color: #434455;
  background-color: #ffffff;
}

/*reset start*/
.visually-hidden {
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
}

.title-light {
  color: var(--light-txt-color);
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.list {
  list-style: none;
}

.list:hover,
.list:focus {
  color: var(--hover-background-btn);
}

/*index html styles*/
/*header styles*/
.header {
  font-style: normal;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  list-style-type: none; /* Убирает буллиты */
  list-style: none;
  text-decoration: none;
}
.link-logo:hover,
.link-logo:focus {
  color: #404bbf;
}

.letter {
  color: #2e2f42;
}

.adr-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.adr-link:hover,
.adr-link:focus {
  color: #404bbf;
}

.link-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-style: normal;
}

.link-menu:hover,
.link-menu:focus {
  color: #404bbf;
}
.address {
  text-decoration: none;
  font-style: normal;
}

.header-address {
  list-style-type: none; /* Убирает буллиты */
  font-style: normal;
}

.address:hover,
.address:focus {
  color: var(--hover-background-btn);
}

/*hero styles*/
.hero {
  background-color: #2e2f42;
}

.hero-headline {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--normal-background-btn);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--hover-background-btn);
  cursor: pointer;
}
/* about styles*/
.about {
}

.about-list {
  list-style-type: none; /* Убирает буллиты */
}
.about-list-item {
}
.about-item-title {
}
.lead {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.item-desc {
}
/*we doing styles*/
.wedoing {
}
.wedoing-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.list {
}
.wedoing-items {
}
.wedoing-items-img {
}

/*team styles*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-item {
  background-color: #ffffff;
}
.team-item-img {
}

.team-item-desc {
}

/*footer styles*/
.footer {
  background-color: #2e2f42;
}

.link-footer-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-desc {
}

/*Portfolio  list styles*/
.portfolio {
}
.portfolio-btnlist {
  list-style-type: none; /* Убирает буллиты */
}
.portfolio-item {
}

.portfolio-item-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  list-style: none;
}

.portfolio-item-btn:hover,
.portfolio-item-btn:focus {
  cursor: pointer;
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-piclist-item {
}

.portfolio-item-title {
}

.portfolio-item-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.letter-footer {
  color: #f4f4fd;
}
